<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>APISP - 应用程序接口服务供应者</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {padding: 0;margin: 0;}
        body {line-height: 32px;font-size: 14px;font-family: 'Courier New', Courier, monospace;}
        header, main, footer {padding: 0 10px;}
    </style>
</head>
<body>
    <header>APISP</header>
    <main>Hello ! I'm driven by <a href="https://gitee.com/ujued/QuickServer">QuickServer</a> and running ${runningTime} seconds. ^_^</main>
    <footer>&copy; 2018</footer>
</body>
</html>